:root {
    --primary-grey: #242424;
    --primary-red: #B81D1A;
    --primary-white: #ffff;
    --primary-orange: #d97f1f;
    --primary-yellow: #dcac51;
}

html {
    overflow-x: hidden;
    font-size: 1rem;
}

body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: var(--primary-grey);
    color: var(--primary-white);
}
